#include <windows.h>
#include "resource.h"

IDD_PLUGINGITPANEL DIALOGEX 26,41,190,330
CAPTION "Git Panel"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
EXSTYLE WS_EX_WINDOWEDGE|WS_EX_TOOLWINDOW
BEGIN
  CONTROL "",IDC_EDT_BRANCH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,10,170,130,15,WS_EX_CLIENTEDGE
  CONTROL "Branch",IDB_BTN_BRANCH,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,140,170,40,15
  CONTROL "",IDC_EDT_DIR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,10,190,170,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_REPORT,10,210,170,110,WS_EX_CLIENTEDGE
  CONTROL "Use TortoiseGit",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,24,48,55,9
  CONTROL "",IDC_CHK_TORTOISE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,48,10,9
END

IDD_SETTINGS DIALOGEX 26,41,291,150
CAPTION "Git SCM Settings"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "OK",IDB_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,126,50,14
  CONTROL "Git Directory Path",IDC_GRP1,"Button",WS_CHILDWINDOW|WS_VISIBLE|BS_GROUPBOX,9,15,270,63
  CONTROL "Git directory path is only needed if `git` cannot be found in your %PATH% environment variable.",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,18,27,204,18
  CONTROL "git ...",IDC_BTN_GITPATH,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,15,54,40,14
  CONTROL "",IDC_EDT_GITPATH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,70,54,200,15,WS_EX_CLIENTEDGE
  CONTROL "Git Prompt",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,90,39,9
  CONTROL "",IDC_EDT_GITPROMPT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,70,87,200,15,WS_EX_CLIENTEDGE
  CONTROL "Use N++ Colors",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,9,111,55,9
  CONTROL "",IDC_CHK_NPPCOLOR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,70,111,10,9
  CONTROL "<a></a>",IDC_STC_VER,"SysLink",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LWS_TRANSPARENT,10,126,60,11
END

IDI_PLUGINGITPANEL ICON DISCARDABLE "GitSCM.ico"
IDB_TOOLBAR1 BITMAP DISCARDABLE "DockingFeature/res/Toolbar1.bmp"
IDB_TOOLBAR2 BITMAP DISCARDABLE "DockingFeature/res/Toolbar2.bmp"
