#include <windows.h>
#include "resource.h"

IDD_PLUGINGITPANEL DIALOGEX 26,41,190,330
CAPTION "Git Panel"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
EXSTYLE WS_EX_WINDOWEDGE|WS_EX_TOOLWINDOW
BEGIN
  CONTROL "Use TortoiseGit",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,24,48,55,9
  CONTROL "",IDC_CHK_TORTOISE,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,48,10,9
  CONTROL "",IDC_EDT_BRANCH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,10,170,170,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_EDT_DIR,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|ES_READONLY|ES_AUTOHSCROLL,10,190,170,15,WS_EX_CLIENTEDGE
  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_REPORT,10,210,170,110,WS_EX_CLIENTEDGE
END

IDD_SETTINGS DIALOGEX 26,41,290,115
CAPTION "Settings"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
BEGIN
  CONTROL "git ...",IDC_BTN_GITPATH,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,6,15,40,14
  CONTROL "",IDC_EDT_GITPATH,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_DISABLED|WS_TABSTOP,70,15,200,15,WS_EX_CLIENTEDGE
  CONTROL "Git Prompt",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE,9,39,39,9
  CONTROL "",IDC_EDT_GITPROMPT,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,70,36,200,15,WS_EX_CLIENTEDGE
  CONTROL "Use N++ Colors",IDC_STATIC,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,9,60,55,9
  CONTROL "",IDC_CHK_NPPCOLOR,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,70,60,10,9
  CONTROL "OK",IDB_OK,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,120,93,50,14
END

IDI_PLUGINGITPANEL ICON DISCARDABLE "GitSCM.ico"
IDB_TOOLBAR1 BITMAP DISCARDABLE "DockingFeature/res/Toolbar1.bmp"
IDB_TOOLBAR2 BITMAP DISCARDABLE "DockingFeature/res/Toolbar2.bmp"

