#include <windows.h>
#include "resource.h"

IDD_PLUGINGITPANEL DIALOGEX 26,41,195,220
CAPTION "Git Panel"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_SHELLFONT
EXSTYLE WS_EX_WINDOWEDGE|WS_EX_TOOLWINDOW
BEGIN
  CONTROL "Git-GUI",IDC_STC1,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,14,55,9
  CONTROL "",IDC_BTN1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,14,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Gitk",IDC_STC2,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,26,55,9
  CONTROL "",IDC_BTN2,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,26,10,9,WS_EX_DLGMODALFRAME

  CONTROL "Use TortoiseGit",IDC_STC3,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,41,55,9
  CONTROL "",IDC_CHK1,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,10,41,10,9

  CONTROL "Status",IDC_STC4,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,56,40,9
  CONTROL "",IDC_BTN3,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,56,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Diff File",IDC_STC5,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,68,40,9
  CONTROL "",IDC_BTN4,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,68,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Add File",IDC_STC6,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,80,40,9
  CONTROL "",IDC_BTN5,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,80,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Commit",IDC_STC7,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,25,92,40,9
  CONTROL "",IDC_BTN6,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,10,92,10,9,WS_EX_DLGMODALFRAME

  CONTROL "Unstage File",IDC_STC8,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,88,56,50,9
  CONTROL "",IDC_BTN7,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,73,56,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Revert File",IDC_STC9,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,88,68,50,9
  CONTROL "",IDC_BTN8,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,73,68,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Log File",IDC_STC10,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,88,80,50,9
  CONTROL "",IDC_BTN9,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,73,80,10,9,WS_EX_DLGMODALFRAME
  CONTROL "Blame File",IDC_STC11,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP,88,92,50,9
  CONTROL "",IDC_BTN10,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,73,92,10,9,WS_EX_DLGMODALFRAME

  CONTROL "",IDC_LSV1,"SysListView32",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|LVS_REPORT,10,108,170,100,WS_EX_CLIENTEDGE
END

IDI_PLUGINGITPANEL ICON DISCARDABLE "GitSCM.ico"

